#mapCurrentDisplay {
  padding-top: 25px;
  height: 10px;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

#googleMap {
  padding-top: 0px;
  height: 380px;
  max-width: 80%;
  margin: auto;
}

#googleMap img {
  position: relative;
}

.bx-wrapper {
  border: none;
  background: #F1F7ED;
  box-shadow: none;
}

#slider {
  margin: auto;
  padding: 0;
}

.icon-menu {
font-size: 3em;
float: right;
position: absolute;
top: 1%;
right: 2%;

}

.main-nav {
  padding: 0.1em;
  float: right;
  margin-top: 1em;
}

.main-nav ul {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  display: none;
  padding: 0;
  list-style: none;
  clear: both;
}

.main-nav:hover ul {
  color: black;
  width: 100%;
  display: block;
}

.main-nav li {
  margin-left: 1em;
  margin-right: 1em;
  display: inline;
  font-size: .5em;
  padding: .1em .1em;
  color: black;
}

.logo {
  width: 200px;
  margin-bottom: 0px;
  margin-left: 10px;
}

.team {
  margin-left: 10%;
  margin-right: 10%;
  display: block;
}

@media only screen and (min-width: 508px),
        only screen and (min-width: 508px) and (orientation: landscape) {

  .icon-menu {
    display: none;
  }

  .main-nav {
    margin-top: 0;
    position: absolute;
    top: 20%;
    right: 0%;
  }

  li a {
    color: white;
  }

  .main-nav ul {
    display: inline;
  }

  .main-nav ul li {
    display: inline;
    border-bottom: none;
    color:black;
  }

  .main-nav ul li:hover a {
    color: #29506D;
  }

  @media only screen and (min-width: 600px) {
    .placeholder-banner {
      max-height: 440px;
      max-width: 900px;
    }
  }
